## Compilación y dependencias
bin/
obj/
out/
Debug/
Release/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/


.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp

## Archivos temporales
*.tmp
*.temp
*.bak
*.log
*.ncb
*.cache
*.pdb


*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/
*.nuspec

appsettings.Development.json
appsettings.Local.json
secrets.json
.env
.env.*


*.pfx
*.p12
*.cer
*.key


publish/
dist/
*.publish.xml


.idea/
*.DotSettings.user

